.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.font-size1 {
  font-size: 12px;
}
.font-size2 {
  font-size: 20px;
}
.color_white {
  color: white;
}
.color_blue {
  color: blue;
}
body {
  margin: 0;
  padding: 0;
}
div {
  zoom: 1;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.online {
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  *margin-left: -160px;
  _margin-left: 0;
  _z-index: -1;
  _display: none;
}
.background {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: -1;
}
.top_bg {
  background-color: #0272bd;
  height: 40px;
  min-width: 1190px;
  border-bottom: 8px solid #87c638;
}
.top_column {
  margin: 0 auto;
  width: 1100px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}
.top_column .top_left_column {
  padding-left: 0;
  color: white;
  font-size: 12px;
}
.top_column .top_left_column {
  color: white;
  font-size: 12px;
  float: left;
}
.top_column .top_right_column {
  padding-left: 0;
  color: white;
  font-size: 12px;
  float: left;
  float: right;
}
.top_column a {
  text-decoration: none;
  color: white;
}
.header {
  _z-index: 2;
  position: relative;
  width: 1000px;
  height: 123px;
  margin: 0 auto;
}
.logo {
  position: absolute;
  margin-top: 25px;
  margin-left: 8px;
}
.sitesearch {
  position: absolute;
  left: 980px;
  top: 80px;
}
.channel_link {
  width: 210px;
  height: 60px;
  position: absolute;
  margin-left: 790px;
  margin-top: 35px;
}
.channel_link .link_yellow {
  width: 60px;
  height: 60px;
  background-color: #ffc602;
}
.channel_link .link_blue {
  width: 60px;
  height: 60px;
  background-color: #16b9d5;
}
.channel_link .link_green {
  width: 60px;
  height: 60px;
  background-color: #30b49a;
}
.channel_link a {
  float: left;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
}
.channel_link span {
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
}
.siteSearch {
  position: absolute;
  margin-left: 479px;
  *margin-left: 237px;
  margin-top: 43px;
}
.siteSearch .keyword {
  height: 30px;
  width: 210px;
}
.siteSearch .submit {
  height: 30px;
  width: 66px;
  background-color: #0272bd;
  color: white;
}
.siteSearch .siteSearch_text {
  font-size: 13px;
  margin-top: 8px;
  *margin-left: 237px;
}
.siteSearch span {
  color: red;
}
.siteSearch a {
  color: #444444;
}
.menu {
  height: 44px;
  width: 1000px;
  border-bottom: 5px solid blue;
  margin: 0 auto;
  background-color: #c9dfff;
}
.menu ul {
  position: absolute;
  margin-left: -40px;
  *margin-left: 0px;
  margin-top: 0px;
}
.menu li {
  float: left;
  width: 110px;
  height: 44px;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
}
.menu a {
  color: #444444;
}
.menu_li01 {
  background-color: blue;
}
.menu_li01 a {
  color: white;
}
.menu_li02:hover {
  background-color: blue;
}
.menu_li02:hover a {
  color: white;
}
.content {
  height: 1188px;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
}
.top_content {
  margin: 18px 10px 15px;
  width: 980px;
  height: 330px;
}
.focus_pic ul {
  position: absolute;
  margin-top: -50px;
  margin-left: 395px;
  *margin-top: -123px;
  *margin-left: 425px;
}
.focus_pic li {
  float: left;
  list-style: none;
  width: 17px;
  height: 17px;
  background-color: white;
  margin-left: 3px;
  text-align: center;
}
.focus_pic a {
  color: #000000;
}
.pic_li01 {
  background: url("../img/201505061048417053_540_328.jpg");
  width: 540px;
  height: 328px;
  z-index: 1;
}
.pic_text01 {
  width: 540px;
  height: 27px;
  vertical-align: middle;
  text-align: center;
  line-height: 27px;
  background-color: rgba(244, 244, 244, 0.73);
  *background-color: rgba(108, 128, 244, 0.73);
  z-index: 5;
  position: absolute;
  margin-top: -26px;
}
.top_right_content {
  position: absolute;
  margin-top: -328px;
  margin-left: 535px;
  *margin-top: -400px;
  *margin-left: 535px;
}
.top_right_top {
  text-align: center;
  width: 490px;
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 22px;
  font-family: "Microsoft Yahei";
}
.top_right_top a {
  color: #0071bd;
}
.top_right_middle ul {
  margin-left: -13px;
  *margin-left: 27px;
}
.top_right_middle li {
  float: left;
  width: 75px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.cccn1_new1 {
  position: absolute;
  margin-top: 33px;
  *margin-top: 0;
  margin-left: 27px;
  overflow: hidden;
  width: 411px;
  height: 223px;
  border: 1px solid #dcdcdc;
  line-height: 25px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}
.cccn1_new1 a {
  margin-left: -20px;
  color: #444444;
}
.cccn1_new1 a:hover {
  color: #0071BD;
  text-decoration: underline;
}
.top_right_bottom {
  border: 1px solid gainsboro;
  width: 380px;
  height: 242px;
  font-size: 12px;
  position: absolute;
  margin-top: 32px;
  *margin-top: -1px;
  margin-left: 40px;
}
.top_right_bottom a {
  color: #333333;
  margin-left: -18px;
  *margin-left: 10px;
  line-height: 26px;
}
.top_right_bottom ul {
  position: absolute;
  margin-top: 5px;
  *margin-left: 12px;
}
.list {
  background: url("../img/list.png");
  width: 2px;
  height: 2px;
  margin-left: -28px;
  *margin-left: -28px;
  margin-top: 11px;
  *margin-top: 8px;
  position: absolute;
}
.two:hover .one {
  display: none;
}
.one:hover {
  border-top: 3px solid #2eab92;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.two:hover {
  border-top: 3px solid #2eab92;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.three:hover {
  border-top: 3px solid #2eab92;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.four:hover {
  border-top: 3px solid #2eab92;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.five:hover {
  border-top: 3px solid #2eab92;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.content1 {
  margin: 0 auto;
  width: 1000px;
  height: 87px;
  border: 1px solid #c5c5c5;
}
.content1_one {
  width: 21px;
  height: 87px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
}
.content1_one:hover {
  background-color: blue;
}
.content1_two {
  background: url("../img/201504081858328815.jpg");
  width: 300px;
  height: 65px;
  position: absolute;
  margin-left: 30px;
  margin-top: -75px;
}
.content1_three {
  background: url("../img/201502131209462300.jpg");
  width: 300px;
  height: 65px;
  position: absolute;
  margin-left: 352px;
  margin-top: -75px;
}
.content1_four {
  background: url("../img/201502101529280968.jpg");
  width: 300px;
  height: 65px;
  position: absolute;
  margin-left: 672px;
  margin-top: -75px;
}
.content1_five {
  width: 21px;
  height: 87px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
  position: absolute;
  margin-left: 980px;
  margin-top: -87px;
}
.content1_five:hover {
  background-color: blue;
}
.content1_five:hover {
  background-color: blue;
}
.content2 {
  width: 1000px;
  height: 69px;
  margin: 0 auto;
  border-bottom: 3px solid #0272bd;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content2_btn1 {
  background: url("../img/btn-mainChannel.png") 0 0;
  width: 331px;
  height: 69px;
}
.content2_btn1:hover {
  background: url("../img/btn-mainChannel.png") 0 69px;
  width: 331px;
  height: 69px;
}
.content2_btn2 {
  background: url("../img/btn-mainChannel.png") 334px 0;
  width: 331px;
  height: 69px;
  position: absolute;
  margin-left: 334px;
  margin-top: -69px;
}
.content2_btn2:hover {
  background: url("../img/btn-mainChannel.png") 334px 69px;
  width: 331px;
  height: 69px;
}
.content2_btn3 {
  background: url("../img/btn-mainChannel.png") 668px 0;
  width: 331px;
  height: 69px;
  position: absolute;
  margin-left: 669px;
  margin-top: -69px;
}
.content2_btn3:hover {
  background: url("../img/btn-mainChannel.png") 668px 69px;
  width: 331px;
  height: 69px;
}
.content3 {
  height: 490px;
  width: 1000px;
  margin: 0 auto;
}
.content3_column_left {
  width: 270px;
  height: 490px;
}
.content3_column_left_text1 {
  width: 270px;
  height: 80px;
}
.content3_column_left_text1 a {
  color: rgba(52, 52, 52, 0.73);
}
.tl1 {
  border: 1px solid rgba(159, 159, 159, 0.44);
  background-color: rgba(224, 224, 224, 0.22);
  width: 126px;
  height: 35px;
  vertical-align: middle;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
}
.tl1:hover {
  background-color: #0071bd;
}
.tl1:hover a {
  color: white;
}
.tl2 {
  border: 1px solid rgba(159, 159, 159, 0.44);
  background-color: rgba(224, 224, 224, 0.22);
  width: 126px;
  height: 35px;
  vertical-align: middle;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  margin-top: 12px;
}
.tl2:hover {
  background-color: #0071bd;
}
.tl2:hover a {
  color: white;
}
.t_left {
  float: left;
}
.t_right {
  float: right;
}
.content3_column_left_text2 {
  width: 270px;
  height: 140px;
  font-size: 13px;
  line-height: 28px;
  position: absolute;
  margin-top: 14px;
  background-color: #0071bd;
}
.content3_column_left_text2 a {
  color: white;
}
.content3_column_left_text2 a:hover {
  color: yellow;
}
.content3_column_left_text2 ul {
  position: absolute;
  margin-top: 5px;
  margin-left: -40px;
  *margin-left: 5px;
}
.content3_column_left_text2 li {
  list-style: none;
  float: left;
  width: 33%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.content3_column_left_text3 {
  width: 270px;
  height: 221px;
  position: absolute;
  margin-top: 166px;
}
.content3_column_left_text3 .cclt_a1 {
  background: url(../img/zfxxgkcx.gif);
  width: 269px;
  height: 67px;
  margin-bottom: 10px;
}
.content3_column_left_text3 .cclt_a2 {
  background: url(../img/gkmllz.gif);
  width: 269px;
  height: 67px;
  margin-bottom: 10px;
}
.content3_column_left_text3 .cclt_a3 {
  background: url(../img/gkmllz.gif) 0 67px;
  width: 269px;
  height: 67px;
}
.content3_column_center {
  width: 420px;
  height: 490px;
  position: absolute;
  margin-top: -490px;
  margin-left: 283px;
}
.content3_column_center_nav1 {
  width: 420px;
  height: 238px;
}
.nav1_ul {
  font-size: 14px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  position: absolute;
  margin-left: -40px;
  margin-top: 0;
  margin-bottom: 10px;
}
.nav1_a {
  color: #444444;
}
.nav1_one,
.nav1_two,
.nav1_three,
.nav1_four {
  float: left;
  width: 85px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-bottom: 1px solid transparent;
  border-top: 3px solid #2eab92;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}
.content3_column_right {
  width: 280px;
  height: 477px;
  position: absolute;
  margin-top: -490px;
  margin-left: 719px;
  border: 1px solid #cae7fb;
}
.content3_column_right h3 {
  background: url(../img/btn-zdlyxxgk.png) no-repeat;
  width: 150px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.hd {
  position: absolute;
  margin-left: -5px;
  *margin-left: -45px;
  margin-top: 20px;
}
.hd a {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  margin-left: 35px;
}
.ccr_ul {
  margin-top: 80px;
  font-size: 12px;
}
.ccr_ul li {
  width: 33%;
  float: left;
  text-align: center;
  margin: 10px 8px;
}
.ccr_ul a {
  color: #444444;
}
.ccr_ul .a1 {
  background: url("../img/btn-zdbd.png");
  width: 55px;
  height: 45px;
}
.ccr_ul .a2 {
  background: url("../img/btn-zdbd.png") 140px 0;
  width: 55px;
  height: 45px;
}
.ccr_ul .a16 {
  background: url("../img/btn-zdbd.png") 280px 2px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a17 {
  background: url("../img/btn-zdbd.png") 0 -45px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a15 {
  background: url("../img/btn-zdbd.png") 140px -45px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a3 {
  background: url("../img/btn-zdbd.png") 280px -44px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a4 {
  background: url("../img/btn-zdbd.png") 0 -88px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a5 {
  background: url("../img/btn-zdbd.png") 140px -88px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a6 {
  background: url("../img/btn-zdbd.png") 280px -87px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a7 {
  background: url("../img/btn-zdbd.png") 0 -132px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a8 {
  background: url("../img/btn-zdbd.png") 140px -132px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a9 {
  background: url("../img/btn-zdbd.png") 280px -132px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a10 {
  background: url("../img/btn-zdbd.png") 0 -175px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a11 {
  background: url("../img/btn-zdbd.png") 140px -175px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a12 {
  background: url("../img/btn-zdbd.png") 280px -175px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a13 {
  background: url("../img/btn-zdbd.png") 0 -219px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a14 {
  background: url("../img/btn-zdbd.png") 140px -218px;
  width: 55px;
  height: 45px;
}
.ccr_ul .a18 {
  background: url("../img/btn-zdbd.png") 280px -218px;
  width: 55px;
  height: 45px;
}
.content4 {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
.content4_menu {
  width: 1000px;
  height: 39px;
  border: 1px solid #dcdcdc;
}
.content4_menu .content4_link {
  background: url("../img/box_link_hd.gif");
  width: 100px;
  height: 39px;
}
.content4_menu li {
  float: left;
  padding: 12px;
  font-size: 13px;
}
.content4_menu ul {
  position: absolute;
  margin-left: 80px;
  margin-top: -39px;
  *margin-left: 110px;
}
.content4_menu a {
  color: #444444;
}
.content4_menu li:hover {
  background-color: #0272bd;
}
.content4_c {
  border-bottom: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  width: 1000px;
  height: 50px;
  padding-top: 5px;
}
.content4_c li {
  float: left;
  background: url('../img/list.png') 0 -21px no-repeat;
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 20px;
  font-size: 14px;
}
.content5 {
  width: 1000px;
  height: 41px;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
}
.content5 .content5_link {
  background: url("../img/box_links_hd.gif");
  width: 100px;
  height: 39px;
}
.content5_select {
  position: absolute;
  margin-left: 120px;
  margin-top: -30px;
}
.content5_select select {
  margin-left: 13px;
}
.footer {
  height: 230px;
  min-width: 1190px;
  margin: 0;
  padding: 0;
}
.footer_link {
  text-align: center;
  color: white;
  font-size: 13px;
  background-color: #025b97;
  height: 37px;
  line-height: 37px;
}
.footer_link a {
  color: white;
}
.footer_end {
  text-align: center;
  color: white;
  height: 170px;
  font-size: 12px;
  line-height: 24px;
  background: #0071BD;
  font-family: Arial;
  padding-top: 25px;
}
.interview_box1 {
  width: 980px;
  height: 224px;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  margin: 0 auto;
  *margin-top: 13px;
}
.c_title1 {
  width: 980px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 35px;
  padding-top: 3px;
  background: url(../img/icon-video.png) no-repeat;
}
.c_title1 a {
  color: #0272bd;
}
.interview_t {
  position: absolute;
  margin-top: -192px;
  *margin-top: -175px;
  margin-left: 285px;
}
.interview_t strong {
  background: #0071BD;
  width: 80px;
  margin-left: -90px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  zoom: 1;
  float: left;
  display: inline;
}
.interview_t p {
  margin-bottom: 2px;
  padding-left: 90px;
}
.interview_box1_wqhg {
  position: absolute;
  margin-left: 700px;
  margin-top: -180px;
  height: 176px;
  width: 270px;
}
.inHd {
  height: 36px;
  width: 230px;
  line-height: 36px;
  background: url(../img/tit-1.png) no-repeat #2caa91 10px 8px;
  padding: 0 10px 0 40px;
}
.inHd .more {
  float: right;
  color: #ffffff;
  *margin-top: -35px;
}
.inbox1_text {
  *margin-top: 10px;
  line-height: 27px;
  width: 270px;
}
.inbox1_text a {
  color: #444444;
  margin-left: -15px;
}
.inbox1_text a:hover {
  color: #0473bd;
  text-decoration: underline;
}
.inbox1_text span {
  float: right;
  color: #919191;
}
.interview_box2 {
  width: 980px ;
  height: 195px;
  margin: 0 auto;
}
.c_title2 {
  width: 980px;
  font-size: 18px;
  font-weight: normal;
  display: inline;
  padding-left: 35px;
  background: url(../img/icon-letter.png) no-repeat;
}
.c_title2 a {
  color: #0272bd;
}
.box_szxx {
  background: url("../img/box_szxx.jpg") no-repeat;
  width: 975px;
  height: 155px;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  *margin-left: -110px;
  *margin-top: 30px;
}
.box_szxx ul {
  position: absolute;
  margin-left: 300px;
  margin-top: 110px;
}
.box_szxx a {
  color: #343434;
}
.box_szxx li {
  float: left;
  margin-left: 20px;
  width: 125px;
  height: 28px;
  background-color: #f4f4f4;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
}
.box_szxx li:hover {
  background-color: #0371bf;
}
.box_szxx li:hover a {
  color: #ffffff;
}
.interview_box3 {
  width: 980px;
  height: 275px;
  margin: 0 auto;
}
.interview_box3_ul01 {
  position: absolute;
  margin-left: -40px;
  *margin-left: 0;
  margin-top: 0;
}
.interview_box3_ul01 li {
  float: left;
  width: 50px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
}
.interview_box3_ul01 a {
  color: #444444;
}
.interview_box3_ul01 li:hover {
  background-color: #0371bf;
}
.interview_box3_ul01 li:hover a {
  color: #ffffff;
}
.interview_box3_left {
  width: 410px;
  height: 210px;
  border: 1px solid #dcdcdc;
  line-height: 26px;
  position: absolute;
  margin-top: 35px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-size: 12px;
}
.interview_box3_left a {
  margin-left: -20px;
  color: #444444;
}
.inbl_r {
  color: #dcdcdc;
  float: right;
  *margin-top: -26px;
}
.interview_column1 {
  position: absolute;
  margin-left: 435px;
  margin-top: 7px;
}
.inbm_title {
  width: 250px;
  height: 35px;
}
.more1 {
  float: right;
  *margin-top: -20px;
  color: #444444;
  font-size: 13px;
}
.more1:hover {
  color: red;
}
.question {
  background-color: #025b97;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  *vertical-align: middle;
}
.interview_box3_middle {
  width: 250px;
  height: 210px;
  border: 1px solid #dcdcdc;
  line-height: 26px;
  position: absolute;
  margin-top: -8px;
  *margin-top: -7px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-size: 12px;
}
.interview_box3_middle a {
  margin-left: -20px;
  color: #444444;
}
.guide_page {
  width: 1000px;
  height: 980px;
  margin: 0 auto;
}
.guide_path {
  width: 980px;
  height: 30px;
  padding-left: 5px;
  padding-top: 16px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
.guide_path a {
  margin: 0 5px;
  color: #444444;
}
.guide_path a:hover {
  color: #0071BD;
}
.guide_main_content {
  width: 980px;
  height: 913px;
  border: 1px solid #dedede;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.guide_title {
  width: 970px;
  height: 35px;
  border-bottom: 3px solid #0371bf;
  line-height: 35px;
  vertical-align: middle;
  padding-left: 10px;
  _margin-top: 10px;
}
.guide_c {
  position: absolute;
  margin-top: 10px;
}
.gc_li {
  width: 926px;
  _width: 888px;
  height: 40px;
  border: 1px dashed #eeeeee;
  margin-bottom: 10px;
  margin-left: -18px;
  _margin-left: 0 ;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Microsoft Yahei";
}
.gc_li a {
  text-decoration: none;
  color: #11437d;
}
.gc_li01 {
  width: 936px;
  height: 35px;
  margin-bottom: 5px;
  _padding-left: 15px ;
  padding-top: 5px;
  font-size: 13px;
}
.gc_li01 a {
  text-decoration: none;
  color: #000000;
  margin-left: 6px;
}
.server_path {
  width: 980px;
  height: 30px;
  padding: 12px 5px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  font-size: 14px;
}
.server_path a {
  margin: 0 5px;
  color: #444444;
}
.server_path a:hover {
  color: #0071BD;
}
.server_page {
  width: 980px;
  height: 820px;
  *height: 838px;
  margin: 0 auto;
  font-size: 12px;
}
.sp_left {
  width: 740px;
  height: 816px;
}
.sp_left_column1 {
  width: 736px;
  height: 41px;
  background-color: #eeeeee;
}
.sp_left_column1 ul {
  position: absolute;
  margin-top: 3px;
}
.sp_left_column1 li {
  font-size: 15px;
  padding: 10px 20px ;
  float: left;
}
.sp_left_column1 a {
  color: #444444;
}
.sp_left_column1 li:hover {
  background-color: #0272bd;
}
.sp_left_column1 li:hover a {
  color: #ffffff;
}
.sp_left_column2 {
  width: 740px;
  height: 80px;
  *margin-left: 40px;
}
.sp_left_column2 ul {
  position: absolute;
  margin-left: -40px;
  *margin-top: 10px;
}
.sp_left_column2 li {
  float: left;
}
.sp_left_food {
  background: url("../img/btn-lvyou.png");
  width: 184px;
  height: 56px;
}
.sp_left_food:hover {
  background: url("../img/btn-lvyou.png") 0 -224px;
}
.sp_left_shopping {
  background: url("../img/btn-lvyou.png") 0 -56px;
  width: 184px;
  height: 56px;
}
.sp_left_shopping:hover {
  background: url("../img/btn-lvyou.png") 0 168px;
}
.sp_left_play {
  background: url("../img/btn-lvyou.png") 0 -112px;
  width: 184px;
  height: 56px;
}
.sp_left_play:hover {
  background: url("../img/btn-lvyou.png") 0 112px;
}
.sp_left_tourism {
  background: url("../img/btn-lvyou.png") 0 -168px;
  width: 184px;
  height: 56px;
}
.sp_left_tourism:hover {
  background: url("../img/btn-lvyou.png") 0 56px;
}
.sp_left_column3 {
  width: 736px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: #0071BD;
}
.sp_left_column4 {
  width: 740px;
  height: 360px;
  *margin-top: 15px;
  *margin-left: 37px;
  _margin-left: 25px;
}
.sp_left_column4 .ul1 {
  position: absolute;
  margin-left: -40px;
}
.sp_left_column4 .ul2 {
  position: absolute;
  margin-left: -40px;
  margin-top: 120px;
}
.sp_left_column4 .ul3 {
  position: absolute;
  margin-left: -40px;
  margin-top: 230px;
}
.sp_left_column4 li {
  width: 232px;
  height: 97px;
  background-color: #f5f5f5;
  float: left;
  margin-left: 11px;
}
.sp_left_column4 .fr {
  width: 200px;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  background-color: #4ba4cc;
  position: absolute;
  margin: 11px 15px;
}
.sp_left_column4 a {
  color: #ffffff;
  font-size: 22px;
}
.sp_left_column5 {
  width: 740px;
  height: 282px;
  border: 1px solid gainsboro;
}
.sp_left_column5_header {
  width: 740px;
  height: 50px;
}
.slch_f1,
.slch_f2,
.slch_f3,
.slch_f4 {
  float: left;
  padding-top: 8px;
}
.slch_f1 {
  width: 122px;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 40px;
  color: #0371bf;
}
.slch_f2 {
  width: 122px;
  height: 50px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.slch_f4 {
  margin-top: 7px;
}
.slch_f4 .keyword_b {
  width: 165px;
  height: 28px;
}
.slch_f4 .submit_b {
  width: 40px;
  height: 35px;
  position: absolute;
  margin-left: 169px;
  margin-top: -35px;
  *margin-left: -9px;
  *margin-top: 1px;
  background-color: #0071BD;
  color: #ffffff;
}
.sp5_td1,
.sp5_td2,
.sp5_td3,
.sp5_td4,
.sp5_td5 {
  background-color: #0272bd;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  height: 30px;
}
.sp5_td1 {
  width: 150px ;
  border-right: 1px solid #ffffff;
}
.sp5_td2 {
  width: 220px ;
  border-right: 1px solid #ffffff;
}
.sp5_td3,
.sp5_td4 {
  width: 148px ;
  border-right: 1px solid #ffffff;
}
.sp5_td5 {
  width: 83px ;
  border-right: 1px solid #ffffff;
}
.sp5_td01,
.sp5_td02,
.sp5_td03,
.sp5_td04,
.sp5_td05 {
  color: #444444;
  font-size: 13px;
  text-align: center;
  height: 30px;
  line-height: 29px;
}
.btn_xzsp {
  background: url("../img/btn-xzsp.gif");
  width: 230px;
  height: 66px;
}
.sp_right {
  position: absolute;
  width: 230px;
  height: 800px;
  margin-top: -816px;
  margin-left: 751px;
}
.sp_right_column1 {
  width: 230px;
  height: 320px;
  border: 1px solid gainsboro;
}
.sp_right_column1 .icon-mhd {
  height: 37px;
  border-bottom: 3px solid rgba(3, 113, 191, 0.83);
  line-height: 37px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  color: #0071BD;
  padding-left: 8px;
}
.src1_text {
  font-size: 13px;
  overflow: hidden;
  line-height: 27px;
  color: #444444;
  padding-left: 5px;
  padding-top: 6px;
}
.src1_text a {
  color: #444444;
}
.src1_text a:hover {
  color: rgba(3, 113, 191, 0.59);
  text-decoration: underline;
}
.sp_right_column2 {
  margin-top: 10px;
  width: 230px;
  height: 320px;
  border: 1px solid gainsboro;
}
.sp_right_column2 .icon-mhd {
  height: 37px;
  border-bottom: 3px solid rgba(3, 113, 191, 0.83);
  line-height: 37px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  color: #0071BD;
  padding-left: 8px;
}
.src2_text li {
  margin-top: 11px;
}
.src2_text .list {
  margin-top: 7px;
}
.src2_text a {
  margin-left: -12px;
  font-size: 13px;
  color: #444444;
}
.src2_text a:hover {
  color: #0071BD;
  text-decoration: underline;
}
.inf_content {
  overflow: hidden;
  zoom: 1;
  width: 1000px;
  height: 1200px;
  margin: 0 auto;
}
.side {
  width: 270px;
  height: 1145px;
}
.inf_slch_f1 {
  width: 152px;
  height: 50px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 40px;
  color: #0371bf;
  _margin-top: 20px;
}
.inf_column_left {
  width: 270px;
  height: 477px;
  position: absolute;
  margin-top: 400px;
  border: 1px solid #cae7fb;
}
.inf_column_left h3 {
  background: url(../img/btn-zdlyxxgk.png) no-repeat;
  width: 150px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.inf_zwxx {
  background: url("../img/btn-zwxxggcx.png");
  width: 270px;
  height: 80px;
  position: absolute;
  margin-top: 930px;
}
.main_content {
  width: 700px;
  height: 1150px;
  color: #444444;
  position: absolute;
  margin-top: -1135px;
  margin-left: 285px;
}
.inf_column1 {
  width: 700px;
  height: 277px;
  background-color: #f6f6f6;
  border: 1px solid #e4e4e4;
  color: #444444;
}
.inf_shichang {
  margin-top: 10px;
  margin-left: 12px;
}
.inf_shichang a {
  color: #444444;
}
.inf_shichang a:hover {
  color: #0272bd;
}
.inf_scc1 {
  position: absolute;
  margin-top: -189px;
  margin-left: 160px;
  padding-bottom: 11px;
  width: 500px;
  border-bottom: 1px dashed gainsboro;
  font-size: 15px;
  font-weight: bolder;
}
.inf_scc1 a {
  color: #0272bd;
}
.inf_scc2 {
  position: absolute;
  margin-top: -150px;
  margin-left: 160px;
  font-size: 13px;
  line-height: 24px;
}
.inf_scc2 a {
  color: #0272bd;
}
.inf_scc3 {
  font-size: 14px;
}
.inf_scc3 .inf_scc3_ul {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid gainsboro;
  width: 675px ;
  margin-left: 12px;
  margin-top: 13px;
}
.inf_scc3 a {
  color: #444444;
}
.inf_scc3 a:hover {
  color: #025b97;
}
.inf_scc3 ul {
  margin-left: -67px;
  *margin-top: 10px;
}
.inf_scc3 li {
  float: left;
  margin-left: 50px;
}
.inf_column2 {
  border: 1px solid gainsboro;
  width: 700px;
  height: 87px;
  margin-top: 10px;
}
.inf_column2 .content1_five {
  width: 21px;
  height: 87px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
  position: absolute;
  margin-left: 678px;
  margin-top: -87px;
}
.inf_column2 .content1_five:hover {
  background-color: blue;
}
.inf_column2 .content1_five:hover {
  background-color: blue;
}
.content1_one {
  width: 21px;
  height: 87px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
}
.content1_one:hover {
  background-color: blue;
}
.content1_five {
  width: 21px;
  height: 87px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 87px;
  position: absolute;
  margin-left: 980px;
}
.content1_five:hover {
  background-color: blue;
}
.content1_five:hover {
  background-color: blue;
}
.inf_column3_title1 {
  position: absolute;
  font-size: 14px;
}
.inf_column3_title1 ul {
  margin-left: -40px;
  *margin-top: 15px;
}
.inf_column3_title1 li {
  float: left;
  width: 86px;
  height: 33px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
}
.inf_column3_title1 a {
  color: #444444;
}
.inf_column3_title1 .inf_one:hover {
  background-color: blue;
}
.inf_column3_title1 .inf_one:hover a {
  color: #ffffff;
}
.inf_column3_one {
  overflow: hidden;
  width: 333px;
  height: 205px;
  border: 1px solid #dcdcdc;
  line-height: 25px;
  position: absolute;
  margin-top: 47px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-size: 12px;
}
.inf_column3_one a {
  margin-left: -20px;
  color: #444444;
}
.inf_column3_one a:hover {
  color: #0071BD;
  text-decoration: underline;
}
.inf_column3_right {
  position: absolute;
  margin-left: 355px;
  margin-top: 0px;
  width: 345px ;
  height: 750px;
}
.know_page {
  width: 1000px;
  height: 1100px;
  margin: 0 auto;
  font-size: 12px;
  color: #444444;
}
.know_column1 {
  width: 320px;
  height: 360px;
  position: absolute;
  margin-left: 10px;
}
.kc_intr {
  width: 320px;
  height: 327px;
  border: 1px solid gainsboro;
}
.maps {
  margin-left: 35px;
  margin-top: 20px;
  position: absolute;
}
.km_introduce {
  width: 280px;
  height: 60px;
  padding: 10px;
  background-color: #ececec;
  color: #343434;
  margin-left: 10px;
  line-height: 20px;
  position: absolute;
  margin-top: 240px;
}
.kc_column3_title1 {
  position: absolute;
  margin-top: 353px;
  *margin-top: 367px;
  font-size: 14px;
}
.kc_column3_title1 ul {
  margin-left: -30px;
  *margin-left: 10px;
}
.kc_column3_title1 li {
  float: left;
  width: 86px;
  height: 33px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
}
.kc_column3_title1 a {
  color: #444444;
}
.kc_column3_title1 .kc_one:hover {
  background-color: blue;
}
.kc_column3_title1 .kc_one:hover a {
  color: #ffffff;
}
.kc_column3_one {
  overflow: hidden;
  width: 310px;
  height: 260px;
  border: 1px solid #dcdcdc;
  line-height: 26px;
  position: absolute;
  margin-top: 400px;
  margin-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}
.kc_column3_one a {
  margin-left: -20px;
  color: #444444;
}
.kc_column3_one a:hover {
  color: #0071BD;
  text-decoration: underline;
}
.know_column_right {
  width: 650px;
  height: 1050px;
  position: absolute;
  margin-top: -2px;
  margin-left: 342px;
}
.kcr_column1 {
  width: 650px;
  height: 326px;
  border: 1px solid gainsboro;
  position: absolute;
  margin-top: 32px;
}
.kcr_column1 ul {
  margin-top: 5px;
  margin-left: -40px;
}
.kcr_column1 li {
  float: left;
  width: 47%;
  *width: 45%;
  height: 150px;
  margin-left: 10px;
  margin-top: 15px;
}
.know_title1 {
  color: #b30303;
  font-size: 16px;
  position: absolute;
  margin-top: -1px;
}
.know_text1 {
  width: 150px;
  height: 110px;
  line-height: 21px;
  position: absolute;
  margin-top: -108px;
  margin-left: 150px;
}
.kcr_column2 {
  width: 340px;
  height: 278px;
  border: 1px solid gainsboro;
  position: absolute;
  margin-top: 402px;
}
.kcr_column2 ul {
  margin-left: -40px;
  margin-top: 4px;
}
.kcr_column2 li {
  float: left;
  width: 43%;
  *width: 39%;
  margin-left: 15px;
  margin-top: 7px;
}
.kcr_column2 a {
  color: #070707;
}
.kcr_column2 a:hover {
  color: #0272bd;
}
.lvyou {
  width: 140px;
  height: 100px;
  padding: 1px;
  border: 1px solid gainsboro;
}
.lvyou:hover {
  border: 1px solid #0000ff;
}
.kc_column_bottom {
  width: 300px;
  height: 315px;
  position: absolute;
  margin-left: 355px;
  margin-top: 705px;
}
.kc_column_ul {
  margin-top: -11px;
  width: 300px;
  height: 290px;
}
.kc_column_ul a {
  color: #444444;
}
.kc_column_ul ul {
  margin-left: -40px;
}
.kc_column_ul li {
  float: left;
  width: 30%;
  *width: 26%;
  height: 30px;
  text-align: center;
  line-height: 33px;
  vertical-align: middle;
  background-color: #f6f6f6;
  border: 1px solid #dedede;
  margin-left: 6px;
  margin-top: 10px;
}
.kc_column_ul li:hover {
  background-color: #0071BD;
  color: #ffffff;
}
